<header>
    <!-- bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>

    <!-- icons -->
    <script src="https://kit.fontawesome.com/e3c832e492.js" crossorigin="anonymous"></script>
    <!-- css -->
    <link rel="stylesheet" href="/css/homepage.css">

</header>

<div class="row d-flex mainDiv">


    <div class="col-lg-4 d-flex justify-content-center">

        <div class="card toolBoxGeneral d-none d-lg-block ">

            <div class="card-header">

                <div class="col-lg-12 col-md-12 col-sm-12 col-12 d-flex justify-content-center ">
                    <%= currentUser.firstName %>
                        <%= currentUser.lastName %></a>
                </div>

            </div>

            <div class="card-body">


                <!-- userPage -->
                <!-- start -->
                <div class="row mt-0 border">
                    <div class="col-lg-6 col-md-6 col-sm-6 col-6 d-flex justify-content-center">
                        <a class="" href="<%= `/users/${currentUser.id}/userPage` %> ">
                            <i class="fas fa-user-astronaut fa-3x "></i>
                        </a>
                    </div>

                    <div class="col-lg-6 col-md-6 col-sm-6 col-6 align-self-center">
                        <a class="" href="<%= `/users/${currentUser.id}/userPage` %> " style="color: black">
                            My Account
                        </a>
                    </div>

                </div>
                <!-- end -->


                <!-- Projects -->
                <!-- start -->
                <div class="row mt-4 border">
                    <div class="col-lg-6 col-md-6 col-sm-6 col-6 d-flex justify-content-center">
                        <a class="" href="<%= `/users/${currentUser.id}/projects` %> ">
                            <i class="fas fa-folder-open fa-3x "></i>
                        </a>
                    </div>

                    <div class="col-lg-6 col-md-6 col-sm-6 col-6 align-self-center">
                        <a class="" href="<%= `/users/${currentUser.id}/projects` %> " style="color: black">
                            My Projects
                        </a>
                    </div>

                </div>
                <!-- end -->


                <!-- Posts -->
                <!-- start -->
                <div class="row mt-4 border">
                    <div class="col-lg-6 col-md-6 col-sm-6 col-6 d-flex justify-content-center">
                        <a class="" href="<%= `/users/${currentUser.id}/posts` %> ">
                            <i class="fas fa-keyboard fa-3x "></i>
                        </a>
                    </div>

                    <div class="col-lg-6 col-md-6 col-sm-6 col-6 align-self-center">
                        <a class="" href="<%= `/users/${currentUser.id}/posts` %> " style="color: black">
                            My Posts
                        </a>
                    </div>

                </div>
                <!-- end -->


                <!-- Friends -->
                <!-- start -->
                <div class="row mt-4 border">
                    <div class="col-lg-6 col-md-6 col-sm-6 col-6 d-flex justify-content-center">
                        <a class="" href="<%= `/users/${currentUser.id}/friends` %> ">
                            <i class="fas fa-user-friends fa-3x "></i>
                        </a>
                    </div>

                    <div class="col-lg-6 col-md-6 col-sm-6 col-6 align-self-center">
                        <a class="" href="<%= `/users/${currentUser.id}/friends` %> " style="color: black">
                            My Friends
                        </a>
                    </div>

                </div>
                <!-- end -->


                <!-- logout -->
                <!-- start -->
                <div class="row mt-4 border">
                    <div class="col-lg-6 col-md-6 col-sm-6 col-6 d-flex justify-content-center">
                        <a class="" href="/logout">
                            <i class="fas fa-sign-out-alt fa-3x "></i>
                        </a>
                    </div>

                    <div class="col-lg-6 col-md-6 col-sm-6 col-6 align-self-center">
                        <a class="" href="/logout" style="color: black">
                            Logout
                        </a>
                    </div>

                </div>
                <!-- end -->


            </div>
        </div>
    </div>




    <div class="middleColGeneral col-lg-8 col-md-12 col-sm-12 col-12">

        <!--Used to create the post creation box -->
        <!--Start-->
        <div class="container-fluid d-flex justify-content-center">
            <div class="card cardUserPost">

                <div class="card-header text-center">
                    Create Post
                </div>

                <div class="form-data card-body">
                    <div class="row d-flex justify-content-center"></div>
                    <form action="<%=`/posts/${currentUser._id}/create` %>" method="POST">
                        <div row>


                            <textarea class="form-control" type="text" name="caption" id="txtCaption" rows="1"
                                placeholder="What are you thinking?" autofocus required></textarea>

                            <hr class="hrLineCreatePost">
                            <!--name is for server side id is for client side processing-->

                            <div>
                                <button type="submit" class="btn btn-primary btn-block">Create</button>
                            </div>

                        </div>
                    </form>
                </div>

            </div>
        </div>
        <!--End-->


        <div class="container-fluid d-flex justify-content-center">
            <div class="card cardGeneralPost">
                <div class="card-header text-start">
                    <div>
                        Gabriel Jones
                    </div>
                    <div>
                        2/25/2021
                    </div>
                </div>

                <div class="card-body">


                    <p class="card-text">
                        When life gives you lemonade, make lemons
                    </p>

                    <div class="d-flex justify-content-center">
                        <img src="/images/userPosts/coral1.jpg" width="480" height="480" class="img-fluid" alt="">
                    </div>
                </div>

                <div class="card-footer d-flex justify-content-center">
                    <a href="" class="card-link"><i class="fas fa-heart"></i> Like</a>
                    <a href="" class="card-link"><i class="fa fa-comment"></i> Comment</a>
                    <a href="" class="card-link"><i class="fa fa-mail-forward"></i> Share</a>
                </div>
            </div>

        </div>


        <div class="container-fluid d-flex justify-content-center">
            <div class="card cardGeneralPost">
                <div class="card-header text-start">
                    <div>
                        Paul Guszak
                    </div>
                    <div>
                        2/25/2021
                    </div>
                </div>

                <div class="card-body">
                    <p class="card-text">
                        Im having an allergic reaction to pain
                    </p>
                </div>

                <div class="card-footer d-flex justify-content-center">
                    <a href="" class="card-link"><i class="fas fa-heart"></i> Like</a>
                    <a href="" class="card-link"><i class="fa fa-comment"></i> Comment</a>
                    <a href="" class="card-link"><i class="fa fa-mail-forward"></i> Share</a>
                </div>
            </div>

        </div>

        <div class="container-fluid d-flex justify-content-center">
            <div class="card cardGeneralPost">
                <div class="card-header text-start">
                    <div>
                        Cesar Ramirez (ME)
                    </div>
                    <div>
                        2/26/2021
                    </div>
                </div>

                <div class="card-body">
                    <p class="card-text">
                        How do I center align things?
                    </p>
                </div>

                <div class="card-footer d-flex justify-content-center">
                    <a href="" class="card-link"><i class="fas fa-heart"></i> Like</a>
                    <a href="" class="card-link"><i class="fa fa-comment"></i> Comment</a>
                    <a href="" class="card-link"><i class="fa fa-mail-forward"></i> Share</a>
                </div>
            </div>

        </div>

        <div class="container-fluid d-flex justify-content-center">
            <div class="card cardGeneralPost">
                <div class="card-header text-start">
                    <div>
                        Cesar Ramirez (ME)
                    </div>
                    <div>
                        2/26/2021
                    </div>
                </div>

                <div class="card-body">
                    <p class="card-text">
                        Nvm figured it out!
                    </p>
                </div>

                <div class="card-footer d-flex justify-content-center">
                    <a href="" class="card-link"><i class="fas fa-heart"></i> Like</a>
                    <a href="" class="card-link"><i class="fa fa-comment"></i> Comment</a>
                    <a href="" class="card-link"><i class="fa fa-mail-forward"></i> Share</a>
                </div>
            </div>

        </div>

    </div>


</div>

<!-- footer -->
<footer class="footer">
    Copyright - CeRaTech, Subscorpion: More Information
    <span>
        <input style="background-color: #23272A; color:White; border-color: #23272A;" type="button" value="here">
        <!--link to an information page-->
    </span>
</footer>

<script src="js/jquery-3.5.1.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/script.js"></script>