<br>

<%console.log(currentUser) %>



<div class="row">

    
<h2 class="table whiteText col-lg-12 col-md-12 col-sm-12 col-12 d-flex justify-content-center ">
    <%= currentUser.Username %>'s Posts

</h2>

<div class="col-lg-12 col-md-12 col-sm-12 col-12 d-flex justify-content-center ">
    <a class="" href="<%= `/home/${currentUser._id}` %> " style="color: white;">
        <i class="fas fa-home fa-3x ">
            Return Home
        </i>
    </a>
</div>



</div>

<br>

<table class="table whiteText border">

    <% posts.forEach(post=> { %>


        <div class="container-fluid d-flex justify-content-center">
            <div class="card cardGeneralPost">
                <div class="card-header text-start">
                    <div>
                        User: <%= post.userName %>
                    </div>
                    <div>
                        Published: <%= post.createdAt %>
                    </div>
                </div>

                <div class="card-body">
                    <p class="card-text">
                        <%= post.caption %>
                    </p>
                </div>

                <span class="card-footer d-flex justify-content-start">
                    
                    <span class="card-text">
                        <i class="fas fa-heart" style="color: red;"></i>
                        <%= post.likes %>
                    </span>
                </span>

                

                <div class="card-footer d-flex justify-content-center">
                    <a href="" class="card-link"><i class="fas fa-heart"></i> Like</a>
                    <a href="" class="card-link"><i class="fa fa-comment"></i> Comment</a>
                    <a href="" class="card-link"><i class="fa fa-mail-forward"></i> Share</a>
                </div>
            </div>

        </div>

        <br>


        <% }) %>

</table>



